In [ ]:
%pip install duckdb

In [8]:
import pandas as pd
import duckdb as db

In [ ]:
data = pd.read_csv('data/creditData/engg-credit_transfer_database.csv')
uni_count = db.query("""
SELECT University, COUNT(University) AS freq FROM data GROUP BY University ORDER BY freq DESC
""")

uni_count

┌────────────────────────────────────────────────────────────────────┬───────┐
│                             University                             │ freq  │
│                              varchar                               │ int64 │
├────────────────────────────────────────────────────────────────────┼───────┤
│ Illinois at Urbana-Champaign (University of)                       │    83 │
│ University College London                                          │    73 │
│ California (University of), Berkeley                               │    62 │
│ Wisconsin-Madison (University of)                                  │    53 │
│ Nanyang Technological University                                   │    52 │
│ New South Wales (University of)                                    │    51 │
│ Edinburgh (University of )                                         │    48 │
│ California (University of), San Diego                              │    46 │
│ National University of Singapore                                   │    46 │
│ Northeastern University                                            │    45 │
│          ·                                                         │     · │
│          ·                                                         │     · │
│          ·                                                         │     · │
│ Griffith University                                                │     5 │
│ Oxford (University of)                                             │     5 │
│ Queensland (University of)                                         │     5 │
│ Shanghai Jiaotong University                                       │     5 │
│ Aarhus University                                                  │     4 │
│ The Chinese University of Hong Kong                                │     4 │
│ Universidad de Montevideo                                          │     3 │
│ International University of Applied \r\nSciences Bad Honnef - Bonn │     3 │
│ Boston University                                                  │     2 │
│ `                                                                  │     1 │
├────────────────────────────────────────────────────────────────────┴───────┤
│ 92 rows (20 shown)                                               2 columns │
└────────────────────────────────────────────────────────────────────────────┘

## Universities for testing

1. University College London (UCL)
2. NTU
3. Berkeley

In [23]:
data['University-Country'].unique()

array(['Australia', 'Country', 'New Zealand', 'Canada', 'Germany',
       'Hong \r\nKong', 'Japan', 'Korea', 'China', 'Denmark', 'Finland',
       'Sweden', 'Norway', 'Singapore', 'Singapore MA2002',
       'Singapore MA2004', 'Singapore MA3004', 'Singapore MA3006',
       'Singapore MA4803', 'Singapore MA4838', 'Singapore MA4843',
       'Singapore MA4845', 'Singapore MA4849', 'Singapore MA4850',
       'Singapore MH1812', 'Singapore MS4012', 'Singapore MT3005',
       'Singapore ME2113', 'Singapore ME3162', 'Singapore ME3251',
       'Uruguay', 'Ireland', 'Ireland MEEN20060', 'Ireland MEEN30010',
       'Ireland MEEN30020', 'Ireland MEEN40040', 'Ireland MEEN40430',
       'UK', nan, 'USA'], dtype=object)

### Data needs cleaning

In [25]:
uk_unis = db.query("""
SELECT University, COUNT(*) FROM data WHERE "University-Country" = 'UK' GROUP BY University
""").df
uk_unis

<bound method pybind11_detail_function_record_v1_msvc_md_mscver19.df of ┌──────────────────────────────────────────────────────┬──────────────┐
│                      University                      │ count_star() │
│                       varchar                        │    int64     │
├──────────────────────────────────────────────────────┼──────────────┤
│ Manchester (University of)                           │           39 │
│ Aberdeen (University of)                             │           14 │
│ London School of Economics and \r\nPolitical Science │            5 │
│ Sheffield (University of)                            │           14 │
│ Bristol (University of)                              │           14 │
│ Edinburgh (University of )                           │           48 │
│ Glasgow (University of)                              │           39 │
│ King's College London                                │           22 │
│ Leeds (University of )                               │           30 │
│ Cardiff University                                   │            6 │
│ Newcastle University                                 │           10 │
│ Cambridge (University of)                            │           22 │
│ Liverpool (University of)                            │            7 │
│ Nottingham (University of)                           │           32 │
│ Leicester (University of)                            │            8 │
│ Oxford (University of)                               │            5 │
│ University College London                            │           73 │
│ Strathclyde (University of)                          │            6 │
├──────────────────────────────────────────────────────┴──────────────┤
│ 18 rows                                                   2 columns │
└─────────────────────────────────────────────────────────────────────┘
>

In [27]:
ucl_courses = db.query("""
SELECT "Exchange-Course-Code" FROM data WHERE University = 'University College London'
""")

ucl_courses

┌──────────────────────┐
│ Exchange-Course-Code │
│       varchar        │
├──────────────────────┤
│ ARCL0084             │
│ BENG0005             │
│ CEGE0009             │
│ CEGE0015             │
│ CEGE0016             │
│ CEGE0020             │
│ CEGE0020             │
│ CEGE0022             │
│ CEGE0023             │
│ CEGE0025             │
│    ·                 │
│    ·                 │
│    ·                 │
│ PHIL0011             │
│ PHIL0012             │
│ PHIL2045             │
│ PHIL3041             │
│ PHIL3054             │
│ PSYC0009             │
│ PSYC0010             │
│ PSYC0038             │
│ PSYC0039             │
│ CEGE0013             │
├──────────────────────┤
│  73 rows (20 shown)  │
└──────────────────────┘